services: 
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - PORT=3000
      - DOMADOO_COOKIE=your_domadoo_cookie_here
      - GCP_CLIENT_ID=your_gcp_client_id_here
      - GCP_CLIENT_SECRET=your_gcp_client_secret_here
      - GCP_REFRESH_TOKEN=your_gcp_refresh_token_here
      - AMAZON_REPORTING_URL=your_amazon_reporting_url_here
      - AMAZON_COOKIE=your_amazon_cookie_here
    command: npm run start